{% load user_filters %}
{% load widget_tweaks %}
{% if user.is_authenticated %} 
<div class="card my-4">
<form
    action="{% url 'add_comment' post.author.username post.id %}"
    method="post">
    {% csrf_token %}
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
        <form>
            <div class="form-group textarea">
            {% render_field form.text class+='form-control form-control-sm' rows='3'%}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</form>
</div>
{% endif %}

<!-- Комментарии -->
{% for item in items %}
<div class="media m-0">
<div class="media-body p-3 border-top border-bottom">
    <h5 class="p-0">
    <a
        href="{% url 'profile' item.author.username %}"
        name="comment_{{ item.id }}"
        >{{ item.author.username }}</a>
    </h5>
    {{ item.text }} <small><span class="float-right text-muted">{{item.created}}</span></small>
</div>
</div>

{% endfor %}